# Gradle
.gradle/
build/
**/build/

# Android / IDE
local.properties
keystore.properties
*.jks
*.keystore
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# Kotlin
.kotlin/

# Logs
*.log
